@use "./variables";

@media (max-width: 992px){
    #socials {
        flex-direction: column;

        right: 15px;

        a .tooltip-text {
            top: 50%;
            right: 175%;
            transform: translateY(-50%);
            border-radius: 6px;

            &::after {
                border-left: 8px solid variables.$secondary;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;

                position: absolute;
                top: 50%;
                left: 100%;
                transform: translateY(-50%);
            }
        }
    }
}

@media (max-width: 576px) {
    body {
        grid-template-rows: 20% auto;
    }

    header > p {
        width: 70%;
    }

    main {
        width: 90%;
    }
}