@use "./variables";

@media (max-width: 992px){
    #socials {
        flex-direction: column;

        right: 15px;
    }
}

@media (max-width: 576px) {
    body {
        grid-template-rows: 20% auto;
    }

    header > p {
        width: 70%;
    }

    main {
        width: 90%;
    }
}